<app-navigation></app-navigation>

<main class="pt-0 relative block">
  <div class="overflow-x-hidden">
    <div style="min-height: 400px;">
      <div style="overflow-anchor: none;">

        <!-- banner start -->
        <div class="banner-container">
          <div class="bg-transparent my-0 mx-auto relative px-20" style="max-width: 1760px;">
            <div class="relative h-full"
              style="width: 100vw; margin-left: -50vw; margin-right: -50vw; left: 50%; right: 50%;">
              <div class="bg-black w-full">
                <div class="flex flex-col justify-center relative w-full overflow-hidden" style="min-height: 37.7vw;">
                  <div class="flex items-center flex-col">
                    <div style="flex: 0 0 80px;"></div>
                    <div class="w-full flex-auto" style="padding: 0px 20%;">
                      <div class="flex flex-col items-center h-full justify-content" style="flex: 0 0 auto;">
                        <div style="flex: 0 0 auto;">
                          <div class="mt-8 mb-4">
                            <div class="break-words text-xl font-semibold text-center uppercase m-0 leading-snug">
                              <div class="text-red-700">Airbnb Experiences</div>
                            </div>
                          </div>
                        </div>
                        <div class="relative w-full py-8 px-0">
                          <div class="mb-8">
                            <div class="text-white">
                              <div class="break-words font-bold text-center m-0">
                                <div class="text-6xl leading-tight">One-of-a-kind activities hosted by locals</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="w-full my-2 mx-0" style="flex: 0 0 auto;">
                      <div class="flex justify-content my-0 mx-auto py-0 px-2" style="max-width: 1080px;">
                        <div class="py-0 px-2" style="flex: 0 0 20%;">
                          <div class="flex relative" style="padding-top: 150%;">
                            <button class="w-full absolute inset-0 bg-none border-none rounded overflow-hidden p-0">
                              <div class="absolute inset-0">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 150%;">
                                  <div class="flex items-center justify-center absolute inset-0">
                                    <img src="assets/images/exp-1.jpg" alt=""
                                      class="w-full h-full static inset-0 object-cover">
                                    <div
                                      class="bg-cover hidden align-bottom h-full w-full absolute inset-0 bg-center bg-no-repeat"
                                      style="assets/images/exp-1.jpg"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="absolute inset-0 flex flex-col space-between p-4 bg-grad">
                                <div
                                  class="break-words text-xs font-semibold text-white text-center truncate min-w-full m-0">
                                  Animals</div>
                                <div>
                                  <div
                                    class="break-words text-base font-semibold text-white text-center truncate min-w-full m-0">
                                    <div class="truncate flex leading-snug">SUP PUP Paddleboard Tour</div>
                                  </div>
                                  <div class="mt-3">
                                    <div
                                      class="break-words text-sm font-semibold text-white text-center truncate min-w-full m-0">
                                      Natasha Baker</div>
                                  </div>
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                        <div class="py-0 px-2" style="flex: 0 0 20%;">
                          <div class="flex relative" style="padding-top: 150%;">
                            <button class="w-full absolute inset-0 bg-none border-none rounded overflow-hidden p-0">
                              <div class="absolute inset-0">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 150%;">
                                  <div class="flex items-center justify-center absolute inset-0">
                                    <img src="assets/images/exp-1.jpg" alt=""
                                      class="w-full h-full static inset-0 object-cover">
                                    <div
                                      class="bg-cover hidden align-bottom h-full w-full absolute inset-0 bg-center bg-no-repeat"
                                      style="assets/images/exp-1.jpg"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="absolute inset-0 flex flex-col space-between p-4 bg-grad">
                                <div
                                  class="break-words text-xs font-semibold text-white text-center truncate min-w-full m-0">
                                  Animals</div>
                                <div
                                  class="break-words text-base font-semibold text-white text-center truncate min-w-full m-0">
                                  <div class="truncate flex leading-snug">SUP PUP Paddleboard Tour</div>
                                </div>
                                <div class="mt-3">
                                  <div
                                    class="break-words text-sm font-semibold text-white text-center truncate min-w-full m-0">
                                    Natasha Baker</div>
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                        <div class="py-0 px-2" style="flex: 0 0 20%;">
                          <div class="flex relative" style="padding-top: 150%;">
                            <button class="w-full absolute inset-0 bg-none border-none rounded overflow-hidden p-0">
                              <div class="absolute inset-0">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 150%;">
                                  <div class="flex items-center justify-center absolute inset-0">
                                    <img src="assets/images/exp-1.jpg" alt=""
                                      class="w-full h-full static inset-0 object-cover">
                                    <div
                                      class="bg-cover hidden align-bottom h-full w-full absolute inset-0 bg-center bg-no-repeat"
                                      style="assets/images/exp-1.jpg"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="absolute inset-0 flex flex-col space-between p-4 bg-grad">
                                <div
                                  class="break-words text-xs font-semibold text-white text-center truncate min-w-full m-0">
                                  Animals</div>
                                <div
                                  class="break-words text-base font-semibold text-white text-center truncate min-w-full m-0">
                                  <div class="truncate flex leading-snug">SUP PUP Paddleboard Tour</div>
                                </div>
                                <div class="mt-3">
                                  <div
                                    class="break-words text-sm font-semibold text-white text-center truncate min-w-full m-0">
                                    Natasha Baker</div>
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                        <div class="py-0 px-2" style="flex: 0 0 20%;">
                          <div class="flex relative" style="padding-top: 150%;">
                            <button class="w-full absolute inset-0 bg-none border-none rounded overflow-hidden p-0">
                              <div class="absolute inset-0">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 150%;">
                                  <div class="flex items-center justify-center absolute inset-0">
                                    <img src="assets/images/exp-1.jpg" alt=""
                                      class="w-full h-full static inset-0 object-cover">
                                    <div
                                      class="bg-cover hidden align-bottom h-full w-full absolute inset-0 bg-center bg-no-repeat"
                                      style="assets/images/exp-1.jpg"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="absolute inset-0 flex flex-col space-between p-4 bg-grad">
                                <div
                                  class="break-words text-xs font-semibold text-white text-center truncate min-w-full m-0">
                                  Animals</div>
                                <div
                                  class="break-words text-base font-semibold text-white text-center truncate min-w-full m-0">
                                  <div class="truncate flex leading-snug">SUP PUP Paddleboard Tour</div>
                                </div>
                                <div class="mt-3">
                                  <div
                                    class="break-words text-sm font-semibold text-white text-center truncate min-w-full m-0">
                                    Natasha Baker</div>
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                        <div class="py-0 px-2" style="flex: 0 0 20%;">
                          <div class="flex relative" style="padding-top: 150%;">
                            <button class="w-full absolute inset-0 bg-none border-none rounded overflow-hidden p-0">
                              <div class="absolute inset-0">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 150%;">
                                  <div class="flex items-center justify-center absolute inset-0">
                                    <img src="assets/images/exp-1.jpg" alt=""
                                      class="w-full h-full static inset-0 object-cover">
                                    <div
                                      class="bg-cover hidden align-bottom h-full w-full absolute inset-0 bg-center bg-no-repeat"
                                      style="assets/images/exp-1.jpg"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="absolute inset-0 flex flex-col space-between p-4 bg-grad">
                                <div
                                  class="break-words text-xs font-semibold text-white text-center truncate min-w-full m-0">
                                  Animals</div>
                                <div
                                  class="break-words text-base font-semibold text-white text-center truncate min-w-full m-0">
                                  <div class="truncate flex leading-snug">SUP PUP Paddleboard Tour</div>
                                </div>
                                <div class="mt-3">
                                  <div
                                    class="break-words text-sm font-semibold text-white text-center truncate min-w-full m-0">
                                    Natasha Baker</div>
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="absolute inset-0 pointer-events-none opacity-0"></div>
                </div>
                <div style="height: 56px;"></div>
                <div class="flex items-center justify-center" style="padding: 0px 16px 8px;">
                  <button class="text-white cursor-pointer text-left no-underline bg-transparent border-none m-0 p-0">
                    <div class="flex">
                      <div class="flex self-center">
                        <div class="break-words text-xs font-light uppercase min-w-full truncate m-0">Scroll to explore
                        </div>
                      </div>
                      <div class="flex self-center">
                        <div class="ml-2">
                          <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"
                            style="height: 14px; width: 14px; display: block; fill: rgb(255, 255, 255);">
                            <path
                              d="m12.5 17c-.4426799 0-.8662787-.1919807-1.1664869-.5259747l-6.9098769-7.71341826c-.59660019-.66535794-.55843813-1.70547282.0852286-2.3221781.6449388-.61802022 1.65241717-.57725718 2.24774529.08810076l5.74338991 6.4103161 5.7433899-6.4103161c.5953281-.66404301 1.6015344-.70612098 2.2477453-.08810076.6436667.61670528.6818288 1.65682016.0852286 2.3221781l-6.9098769 7.71341826c-.3002082.333994-.723807.5259747-1.1664869.5259747">
                            </path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- banner end -->

        <!-- note worthy start -->
        <div class="dual-banner">
          <div class="bg-transparent my-0 mx-auto relative px-20" style="max-width: 1760px;">
            <div class="my-20">
              <div class="flex w-1/2">
                <div class="items-center flex mb-4">
                  <div class="cursor-pointer">
                    <div class="w-full mb-2">
                      <h3 class="mt-0 mb-0 font-extrabold text-2xl text-gray-700" style="padding: 2px 0px; line-height: 30px;">New and noteworthy</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="my-3">
                <div class="relative z-0">
                  <ul class="flex h-full my-0 pl-0 no-underline min-w-full overflow-x-auto overflow-y-hidden -ml-2 -mr-2 list-none">
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 50%; flex: 0 0 50%;">
                      <div class="flex min-w-full h-full">
                        <div class="w-full mt-1 mb-2" style="margin-right: 6px;">
                          <a class="no-underline text-gray-700">
                            <div class="w-full h-full">
                              <div class="overflow-hidden bg-gray-700 rounded">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 66.6667%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/animal-exp.jpg" alt="" class="object-cover w-full h-full static inset-0">
                                    <div class="hidden bg-cover align-bottom w-full h-full absolute inset-0 bg-center bg-no-repeat" style="background-image: url('assets/images/animal-exp.jpg');"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="pt-3">
                                <div class="whitespace-normal">
                                  <div class="mb-1">
                                    <div class="break-words uppercase text-xs font-semibold text-gray-600 truncate min-w-full m-0">
                                      1000+ Experiences
                                    </div>
                                    <div class="break-words text-base font-bold text-gray-700 truncate min-w-full m-0">
                                      Animals
                                    </div>
                                    <div class="mt-1">
                                      <div class="break-words uppercase text-sm text-gray-600 truncate min-w-full m-0">Magical encounters hosted by animals and their advocates</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 50%; flex: 0 0 50%;">
                      <div class="flex min-w-full h-full">
                        <div class="w-full mt-1 mb-2" style="margin-right: 6px;">
                          <a class="no-underline text-gray-700">
                            <div class="w-full h-full">
                              <div class="overflow-hidden bg-gray-700 rounded">
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 66.6667%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/animal-exp.jpg" alt="" class="object-cover w-full h-full static inset-0">
                                    <div class="hidden bg-cover align-bottom w-full h-full absolute inset-0 bg-center bg-no-repeat" style="background-image: url('assets/images/animal-exp.jpg');"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="pt-3">
                                <div class="whitespace-normal">
                                  <div class="mb-1">
                                    <div class="break-words uppercase text-xs font-semibold text-gray-600 truncate min-w-full m-0">
                                      1000+ Experiences
                                    </div>
                                    <div class="break-words text-base font-bold text-gray-700 truncate min-w-full m-0">
                                      Animals
                                    </div>
                                    <div class="mt-1">
                                      <div class="break-words uppercase text-sm text-gray-600 truncate min-w-full m-0">Magical encounters hosted by animals and their advocates</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- note worthy end -->

        <!-- Adventures around the world Area Start -->
        <div class="around-world">
          <div class="adventure-container bg-transparent relative px-20 my-0 mx-auto" style="max-width: 1760px;">
            <div class="my-10">
              <div class="flex w-1/2">
                <div class="items-center flex mb-4">
                  <div class="cursor-pointer">
                    <div class="w-full mb-2">
                      <h3 class="mt-0 mb-0 font-extrabold text-2xl text-gray-700" style="padding: 2px 0px; line-height: 30px;">Airbnb Adventures around the world</h3>
                      <span class="text-base text-gray-700 font-normal leading-snug tracking-normal">Multi-day trips led by local experts—activities, meals, and stays included</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 mt-2">
                <div class="adventure-grid-container overflow-hidden" style="display: grid; grid-template-rows: 1fr; grid-template-columns: repeat(auto-fill, minmax(231px, 1fr)); grid-auto-rows: 0px; margin: -8px !important;">
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-1.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-1.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Sweden
                        </div>
                        <div class="text-base leading-tight">
                          Glamp under the northern lights
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $2,487/person</li>
                            <li class="inline"><span> . </span>6 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-2.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-2.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Greece
                        </div>
                        <div class="text-base leading-tight">
                          Forgotten Greece
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $2,779/person</li>
                            <li class="inline"><span> . </span>6 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-3.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-3.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Ecuador
                        </div>
                        <div class="text-base leading-tight">
                          SlowFood *Galapagos* Conscious Travel
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $3,997/person</li>
                            <li class="inline"><span> . </span>6 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-4.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-4.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Bhutan
                        </div>
                        <div class="text-base leading-tight">
                          Bhutan's Festivals & Cliffside Temples
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $5,135/person</li>
                            <li class="inline"><span> . </span>6 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-5.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-5.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Australia
                        </div>
                        <div class="text-base leading-tight">
                          Floating Wellness Retreat
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $1,761/person</li>
                            <li class="inline"><span> . </span>6 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-6.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-6.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Tromsø
                        </div>
                        <div class="text-base leading-tight">
                          2 Nights PACKAGE All Inclusive
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $635/person</li>
                            <li class="inline"><span> . </span>3 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="adventure-grid p-2" style="max-width: none; min-width: 20%;">
                    <div class="relative text-left text-gray-700">
                      <a href="#" class="cursor-pointer block h-full w-full bg-transparent border-none border-transparent border-0 text-gray-700 m-0 p-0 no-underline">
                        <div class="mb-3 overflow-hidden rounded-lg">
                          <div class="relative bg-center bg-no-repeat">
                            <div class="flex items-center justify-center">
                              <img src="assets/images/adventure-grid-7.jpg" alt="Adventure Grid" class="object-cover w-full h-full static inset-0" style="height: 366px;">
                              <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/adventure-grid-7.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="text-xs leading-none font-semibold mb-2 uppercase">
                          Berlin
                        </div>
                        <div class="text-base leading-tight">
                          Hidden Berlin
                        </div>
                        <div class="text-base leading-tight mt-2">
                          <ul class="m-0 p-0">
                            <li class="inline">From $2,625/person</li>
                            <li class="inline"><span> . </span>3 days</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inline-block text-left w-full mt-2">
                <a href="#" class="text-left w-auto shadow-none border-0 border-none border-transparent py-1 px-0 cursor-pointer inline-block no-underline whitespace-no-wrap bg-transparent rounded text-teal-700 hover:underline">
                  <span class="text-teal-700 inline font-semibold text-base leading-snug mr-2 tracking-normal truncate whitespace-no-wrap overflow-hidden">Show all adventures</span>
                  <span class="inline-block">
                    <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height: 10px; width: 10px; fill: currentcolor;">
                      <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Adventures around the world Area End -->

        <!-- Experience Category Area Start -->
        <div class="home-content-container">
          <div class="px-20 relative my-0 mx-auto bg-transparent w-full	min-w-full">
            <div class="my-10">
              <div class="heading-container flex w-3/6">
                <div class="flex items-center">
                  <div class="w-full mb-2">
                    <h3 class="mt-0 mb-0 font-extrabold text-2xl leading-loose text-gray-700 py-1">Experiences for every interest</h3>
                  </div>
                </div>
              </div>
              <div class="category-card-container my-2">
                <div class="relative z-0">
                  <ul class="category-card-list flex h-full overflow-x-auto overflow-y-hidden pl-0 mt-0 min-w-full list-none">
                    <li class="flex border-transparent py-4 px-5 w-1/5">
                      <div class="h-64 h-auto min-w-full flex">
                        <div class="w-full mb-0 mt-1 h-32" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="max-w-sm w-full lg:max-w-full lg:flex shadow-md">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal lg:w-full">
                                <div class="my-4">
                                  <div class="text-gray-700 font-bold text-base">Art and culture</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-transparent py-4 px-5 w-1/5">
                      <div class="h-64 h-auto min-w-full flex">
                        <div class="w-full mb-0 mt-1 h-32" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="max-w-sm w-full lg:max-w-full lg:flex shadow-md">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal lg:w-full">
                                <div class="my-4">
                                  <div class="text-gray-700 font-bold text-base">Entertainment</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-transparent py-4 px-5 w-1/5">
                      <div class="h-64 h-auto min-w-full flex">
                        <div class="w-full mb-0 mt-1 h-32" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="max-w-sm w-full lg:max-w-full lg:flex shadow-md">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal lg:w-full">
                                <div class="my-4">
                                  <div class="text-gray-700 font-bold text-base">Food and drink</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-transparent py-4 px-5 w-1/5">
                      <div class="h-64 h-auto min-w-full flex">
                        <div class="w-full mb-0 mt-1 h-32" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="max-w-sm w-full lg:max-w-full lg:flex shadow-md">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal lg:w-full">
                                <div class="my-4">
                                  <div class="text-gray-700 font-bold text-base">Nature and outdoors</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-transparent py-4 px-5 w-1/5">
                      <div class="h-64 h-auto min-w-full flex">
                        <div class="w-full mb-0 mt-1 h-32" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="max-w-sm w-full lg:max-w-full lg:flex shadow-md">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal lg:w-full">
                                <div class="my-4">
                                  <div class="text-gray-700 font-bold text-base">Sports</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience Category Area Start -->

        <!-- Experience in other cities Area Start -->
        <div class="home-content-container">
          <div class="px-20 relative my-0 mx-auto bg-transparent w-full	min-w-full">
            <div class="my-10">
              <div class="heading-container flex w-3/6">
                <div class="flex items-center">
                  <div class="w-full mb-2">
                    <h3 class="mt-0 mb-0 font-extrabold text-2xl leading-loose text-gray-700 py-1">Experiences in other cities</h3>
                  </div>
                </div>
              </div>
              <div class="category-card-container my-2">
                <div class="relative z-0">
                  <ul class="category-card-list flex h-full overflow-x-auto overflow-y-hidden pl-0 mt-0 min-w-full list-none">
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="flex border-solid border-transparent" style="border-width: 0px 5px; max-width: 12.5%; flex: 0 0 12.5%;">
                      <div class="flex min-w-full h-full">
                        <div class="mt-1 mb-2 w-full" style="margin-right: 6px;">
                          <a class="text-gray-700 h-full w-full cursor-pointer inline border-none p-0 m-0 bg-transparent no-underline" href="#">
                            <div class="w-full shadow-md flex flex-col h-full whitespace-normal border border-solid border-gray-200 rounded-lg">
                              <div class="overflow-hidden" style="margin-left: -1px; margin-right: -1px; margin-top: -1px;">
                                <div class="absolute mt-2 ml-2" style="z-index: 2;"></div>
                                <div class="relative bg-center bg-no-repeat" style="padding-top: 100%;">
                                  <div class="absolute inset-0 flex items-center justify-center">
                                    <img src="assets/images/ex-cat.jpg" alt="" class="object-cover h-full w-full static inset-0">
                                    <div class="w-full h-full inset-0 bg-center bg-no-repeat absolute align-bottom bg-cover" style="background-image: url('assets/images/ex-cat.jpg');"></div>
                                  </div>
                                </div>
                                <div class="px-4 pt-3 pb-4">
                                  <div class="flex-grow"></div>
                                  <div class="break-words text-sm font-semibold text-gray-600 truncate m-0 max-w-full">Paris</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience in other cities Area Start -->

      </div>
    </div>
  </div>
</main>